<div class="sidebar">
    <div class="sidebar-avatar">
        <app-avatar></app-avatar>
    </div>

    <a routerLink="/dashboard" routerLinkActive="sidebar-item--active" [routerLinkActiveOptions]="{exact: true}"
        class="sidebar-item">
        <mat-icon>dashboard</mat-icon>
        <span>Home</span>
    </a>

    <a routerLink="/configuration" routerLinkActive="sidebar-item--active" class="sidebar-item">
        <mat-icon>settings</mat-icon>
        <span>Configuration</span>
    </a>
</div>