@use '../../../styles/mixins' as mixins;

.header {
    height: 60px;
    width: calc(100vw - 85px);
    position: fixed;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
    margin-left: 85px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 99;

    @include mixins.tablet {
        height: 90px;
        margin-left: 90px;
    }

    @include mixins.desktop {
        height: 100px;
        margin-left: 100px;
    }

    .back-btn {
        @include mixins.circle-icon(var(--color-green-base));
        cursor: pointer;

        &:hover {
            background-color: color-mix(in srgb, var(--color-green-base) 80%, var(--color-white));
        }
    }

    .configuration-view {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 20px;
    }
}