:root {
    // Colors
    --color-green-dark: #2E8B57;
    --color-green-base: #90EE90;
    --color-green-light: #d8f5da;
    --color-gray: #ecf0f1;
    --color-black: #111;
    --color-white: #fff;

    // Breakpoints
    --breakpoint-mobile: 576;
    --breakpoint-tablet: 768;
    --breakpoint-desktop: 992;
    --breakpoint-large: 1200;
}
