:root {
    // Colors
    --color-green-dark: #2E8B57;
    --color-green-base: #90EE90;
    --color-green-light: #d8f5da;
    --color-gray: #ecf0f1;
    --color-dark-gray: #797979;
    --color-black: #111;
    --color-white: #fff;
    --color-warning-red: #fd4848;
}

// Layout
$sidebar-width-mobile: 65px;
$sidebar-width-tablet: 90px;
$sidebar-width-desktop: 100px;
